/* =================== Header =================== */
.site-header {
    background: linear-gradient(to right, #2e4155, #090a0f);
    padding: 14px 30px;
    box-shadow: 0 0 12px rgba(0,0,0,0.7);
    border-bottom: 2px solid #f1c40f;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


/* --- Logo & Branding --- */
.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo img {
    width: 30px;
    margin-right: 10px;
  }
  
  .brand-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #F8F9FA;
    letter-spacing: 1px;
    font-weight: 600;
  }
/* --- Menu Burger --- */
.burger {
    display: block;
    cursor: pointer;
    z-index: 100;
}
.burger .bar {
    width: 25px;
    height: 3px;
    background-color: #F1C40F;
    margin: 5px;
    transition: all 0.3s ease;
}

/* --- Navigation Links --- */
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 46px;
    right: -30px;
    width: 50%;
    background-color: #2C3E50;
    border-top: 1px solid rgba(241, 196, 15, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease;
    z-index: 100;
}

.nav-links li {
    text-align: center;
    border-bottom: 1px solid rgba(241, 196, 15, 0.3);
}

.nav-links li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #F8F9FA;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links li.profile a {
    padding: 15px 0px;
}

.nav-links li a:hover {
    color: #F1C40F; /* Accent pour les interactions */
}

/* --- Profil (si connecté) --- */
.nav-links li.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .nav-links li.profile img {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    object-fit: cover;
    border: 2px solid #f1c40f;
  }

/* --- Menu actif --- */
.nav-links.nav-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Animation du burger */
.burger.toggle .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.burger.toggle .bar:nth-child(2) {
    opacity: 0;
}
.burger.toggle .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* --- Desktop --- */
@media (min-width: 768px) {
    .burger {
        display: none;
    }
    .nav-links {
        flex-direction: row;
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        width: auto;
        border: none;
        background: none;
    }
    .nav-links li {
        border: none;
        margin-left: 20px;
    }
    .nav-links li a {
        padding: 0;
    }
    .nav-links li.profile a {
        padding: 0px 0px;
    }
}

